apiVersion: apps/v1
kind: Deployment
metadata:
  name: myproject-frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: myproject-frontend
  template:
    metadata:
      labels:
        app: myproject-frontend
    spec:
      containers:
      - name: frontend
        image: maisam12/myproject-frontend:v1
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
spec:
  type: LoadBalancer
  selector:
    app: myproject-frontend
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
